/* Limpar as formata��es padr�o */
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*
**** Layout ****
*/

#area-cabecalho, #area-menu {
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}

#area-logo,#area-menu {
	font-size: 1.5em;
	padding: 10px;
}

#buttonHome {
	text-decoration: none;
	color: black;
}

#buttonHome img{
	width: 40px;
	height: 40px;
	position: relative;
	bottom: 8px;
	margin-right: 3px;
}	

#area-principal {
	width: 95%;
	margin: 0 auto;
	padding: 15px;
	background: white;
	margin-bottom: 45px;
}

#topo-conteudo {
	margin-bottom: 15px;
}

#area-rodape {
	text-align: center;
	padding: 15px;
	background: #ccc;
	font-size: 1em;
}

/*
**** Formata��o do menu ****
*/
a {
	text-decoration: none;
}
/*
a:link, a:visited {
	color: #f7b600;
}

a:hover {
	text-decoration: underline;
}
*/
#area-menu a:link, #area-menu a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-menu a:hover {
	color: #f7b600;
	background: white;
	text-decoration: none;
}



/*
**** Formata��es em geral ****
*/
.branco {
	color: white;
}

#tabela thead {
	color: white;
	background: orange;
}

.botao, button {
	background: orange;
	color: white;
	padding: 10px 19px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.3em;
}

.botao:hover, button:hover {
	text-decoration: none;
	background: #ffc75e;
	color: white;
}

.botao img, button span{
	position: relative;
	left: -5px;
	top: -2px;
}

form label {
	font-size: 1.3em;
}

.centralizarConteudo {
	text-align: center;
}

.centralizarConteudo img {
	margin-right: 5px;
	margin-left: 5px;
}

#aviso {
	width: 300px;
	padding: 10px;
	border: 1px solid #ff8000;
	border-radius: 5px;
	background: #f7b600;
	color: white;
	position: absolute;
	top: 200px;
	left: 40%;
}